<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>58024286019-5f8io9485nfeegdtqorjlce9c64cldjf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.58024286019-5f8io9485nfeegdtqorjlce9c64cldjf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>58024286019-b4ilq111d20cv3fmcnq97uufdulio4r1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCAiCeJeDoR9EL6E_NA5R5HbxQdF9d6iVg</string>
	<key>GCM_SENDER_ID</key>
	<string>58024286019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ijk.onde</string>
	<key>PROJECT_ID</key>
	<string>onde-it-com</string>
	<key>STORAGE_BUCKET</key>
	<string>onde-it-com.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58024286019:ios:73878f0e14671de91941f6</string>
</dict>
</plist>